<section class="addtext-control">
    <input inert="@disabled" type="text" placeholder="@Placeholder" @bind="@text" @bind:event="oninput" @onkeydown=@KeyDown />
    <button inert="@disabled" @onclick=@Clicked>＋</button>
    <button cancel @onclick=@Cancelled>×</button>
</section>

@code {
    [Parameter]
    public string Placeholder { get; set; } = "enter text";

    string text = "";
    bool disabled = false;
    CancellationTokenSource? cts;

    [Parameter]
    public EventCallback<AddTextArgs> TextChanged { get; set; }

    async Task Clicked()
    {
        disabled = true;
        StateHasChanged();
        cts = new();
        await TextChanged.InvokeAsync(new(text, cts.Token));
        cts.Dispose();
        cts = null;
        disabled = false;
    }

    Task Cancelled() => cts?.CancelAsync() ?? Task.CompletedTask;

    async Task KeyDown(KeyboardEventArgs eventArgs)
    {
        if (eventArgs.Code == "Enter" || eventArgs.Code == "NumpadEnter")
        {
            await Clicked();
        }
    }

    public record AddTextArgs(string Value, CancellationToken Cancellation);
}