@using Microsoft.JSInterop
@inject Conesoft.Hosting.ApplicationBuildHash abh
@inject IJSRuntime runtime

@if(Button)
{
    <button @onclick=@(async () => await ShowDialog("user-account-info-view"))>about</button>
}
else
{
    <dialog id="user-account-info-view" @onclick=@(async () => await ExitDialog("user-account-info-view"))>
        <article>
            <img src="https://conesoft.net/user/davepermen.jpg" />
            <ul>
                <li>⌂ @(System.Reflection.Assembly.GetEntryAssembly()?.GetName()?.Name?.Split('-').Last().Trim() ?? "")</li>
                <li>written by <a href="https://davepermen.net" target="_blank">davepermen</a></li>
                <li>a <a href="https://conesoft.net" target="_blank">conesoft product</a></li>
                <li>app hash is <aside>@abh.CompiledHash</aside></li>
                <li>app logs <a href="https://files.conesoft.net/logs">here</a></li>
                <li>running on <a href="https://get.dot.net" target="_blank">.NET @Environment.Version</a></li>
                <li>&copy; <aside>@DateTime.Now.Year</aside></li>
            </ul>
        </article>
    </dialog>
}

@code {
    [Parameter]
    public bool Button { get; set; } = false;
    [Parameter]
    public string PageName { get; set; } = "";

    public async Task ShowDialog(string id)
    {
        await runtime.InvokeVoidAsync($"{id}.showModal");
    }

    public async Task ExitDialog(string id)
    {
        await runtime.InvokeVoidAsync($"{id}.close");
    }
}