dialog {
    width: max-content;
    max-width: 100%;
    place-self: center;
    box-shadow: 0 1rem 5rem black;
    overflow: hidden;
}

dialog:not([open]) {
    display: none;
}

[open]::backdrop {
    background-color: var(--accent-color);
    backdrop-filter: blur(1rem);
    opacity: 0.1;
}

article {
    grid-template-columns: auto auto;
    font-size: 1rem;
    display: grid;
    gap: 1rem;
    padding: 2rem;
    background: black;
}
@media (aspect-ratio < 1) {
    article {
        grid-template-columns: auto;
    }
}


a, aside {
    color: var(--accent-color);
}

img {
    max-height: 10rem;
    place-content: center;
}

li {
    height: 2rem;
    display: block;
    background: black;
}

    li:first-of-type {
        font-size: 1.5rem;
        margin-block-end: 1rem;
        text-wrap: nowrap;
    }

li:hover, li:focus-within {
    box-shadow: none;
    scale: 1;
    z-index: 0;
}