<button popovertarget='user-account-info-view'>about</button>
<dialog id='user-account-info-view' popover>
    <article>
        <header>
            <nav>
                <a class="active">⌂</a>
                <a class="">@PageName</a>
            </nav>
        </header>
        <img src="https://conesoft.net/user/davepermen.jpg" />
        <section>
            <p>written by <a href="https://davepermen.net">davepermen</a></p>
            <p>a <a href="https://conesoft.net">conesoft product</a></p>
            <p>running on <a href="https://get.dot.net">.NET @Environment.Version</a></p>
            <p>&copy; @DateTime.Now.Year</p>
        </section>
    </article>
</dialog>

@code {
    [Parameter]
    public string PageName { get; set; } = "";
}