section {
    display: grid !important;
    grid-template-areas: "all";
    height: 2rem;
    padding-inline: 0 !important
}

    section > * {
        grid-area: all
    }


ul {
    display: flex;
    gap: 1ch;
    padding-left: 0;
    margin-block: 0;
    width: min-content
}

li {
    display: contents
}

    li button::after {
        content: "🞪";
        padding-inline-start: 1ch;
    }

select, option {
    text-align: center;
    border: none;
    font-size: 100%
}

span {
    place-self: center;
    opacity: 0.7;
    font-style: italic;
    pointer-events: none
}

button {
    padding-inline: 0.5rem;
    border: 0
}

section:has(select:focus, select:hover) button {
    background: var(--background-color);
    color: var(--accent-color)
}

*:focus, *:focus-visible, *:focus-within {
    outline: none
}

* {
    border: none
}
