@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <header>
            <nav class="@NavClass">
                @ChildContent
            </nav>
            <UserAccount />
        </header>
    </Authorized>
</AuthorizeView>
<UserLogin />

@code {
    [Parameter]
    public string NavClass { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}