@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <section id='user-account-menu'>
            <button popovertarget='user-account-menu-dropdown'>☰</button>
            <menu id='user-account-menu-dropdown' popover>
                <button popovertarget='user-account-menu-dropdown'>✕</button>
                <li>
                    <img src="/user/@(context.User?.Identity?.Name).jpg" alt="profile picture" />
                    <a href="https://conesoft.net" target="_blank">@context.User?.Identity?.Name</a>
                </li>
                <li>
                    <InfoView Button="true" PageName="@PageName" />
                </li>
                <li>
                    <form action="/user/logout" method="post">
                        <input type="submit" value="logout">
                    </form>
                </li>
            </menu>
        </section>
        <InfoView Button="false" PageName="@PageName" />
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string PageName { get; set; } = "";
}