::deep, ::deep * {
    display: grid;
    text-align: center;
    align-content: center;
}

input {
    height: 2rem;
}

input[type=submit] {
    background-color: #333;
    transition: all 0.333s linear;
}

input[type=submit]:hover {
    filter: invert();
}

section {
    position: absolute;
    inset: 0;
    place-content: center;
    display: grid;
    grid-template-columns: max-content max-content;
}

section img {
    height: 6rem;
}
