@using Microsoft.AspNetCore.Components.Authorization

<header class="@NavClass">
    <hgroup>
        <NavLink Match=NavLinkMatch.All href="/">@HomeButtonContent</NavLink>
        @HomeButtonExtraContent
    </hgroup>
    <nav>
        @NavContent
    </nav>
    <AuthorizeView>
        <Authorized>
            <UserAccount PageName="@PageName" />
        </Authorized>
    </AuthorizeView>
</header>
@if (NoUserLogin != true)
{
    <UserLogin />
}

@code {
    [Parameter]
    public bool? NoUserLogin { get; set; }
    [Parameter]
    public string? NavClass { get; set; } = null;
    [Parameter]
    public string PageName { get; set; } = "";
    [Parameter]
    public RenderFragment? HomeButtonContent { get; set; }
    [Parameter]
    public RenderFragment? HomeButtonExtraContent { get; set; }
    [Parameter]
    public RenderFragment? NavContent { get; set; }
}