@using Microsoft.AspNetCore.Components.Authorization

<header>
    <nav class="@NavClass">
        @ChildContent
    </nav>
    <AuthorizeView>
        <Authorized>
            <UserAccount PageName="@PageName" />
        </Authorized>
    </AuthorizeView>
</header>
@if (NoUserLogin != true)
{
    <UserLogin />
}

@code {
    [Parameter]
    public bool? NoUserLogin { get; set; }
    [Parameter]
    public string NavClass { get; set; } = "";
    [Parameter]
    public string PageName { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}