@using Microsoft.AspNetCore.Components.Authorization

<header>
    <AuthorizeView>
        <Authorized>
            <nav class="@NavClass">
                @ChildContent
            </nav>
            <UserAccount />
        </Authorized>
    </AuthorizeView>
</header>
@if (NoUserLogin != true)
{
    <UserLogin />
}

@code {
    [Parameter]
    public bool? NoUserLogin { get; set; }
    [Parameter]
    public string NavClass { get; set; } = "";
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}