::deep, ::deep * {
    display: grid;
    text-align: center;
    align-content: center;
}

input {
    height: 2rem;
}

section {
    width: 12rem;
    z-index: 1;
    background: var(--background-color-80);
    box-shadow: 0 0 2rem var(--background-color);
    position: relative;
    grid-template:
        "picture name"
        "menu menu"
        / min-content 1fr
}

    section img {
        width: 2rem;
        aspect-ratio: 1;
        grid-area: picture;
    }

    section button {
        grid-area: name;
    }

    section form {
        grid-area: menu;
        height: 0;
        opacity: 0;
        transition: all ease-in-out 0.333s;
        z-index: -1;
        position: absolute;
        width: 100%;
        pointer-events: none;
    }

        section form input {
            --button-color: var(--danger-color);
        }

    section:focus-within form {
        opacity: 1;
        height: 2rem;
        pointer-events: initial;
    }
