::deep, ::deep * {
    display: grid;
    text-align: center;
    align-content: center;
}

input {
    height: 2rem;
}

section {
    position: absolute;
    inset: 0;
    place-content: center;
    display: grid;
    z-index: 1;
}

form {
    grid-template-columns: max-content max-content;
}

section img {
    height: 6rem;
}
