@using Microsoft.AspNetCore.Components.Authorization

<header class="@NavClass">
    <hgroup>
        @if (HomeButtonContent != null)
        {
            <NavLink Match=NavLinkMatch.All href="/">@HomeButtonContent</NavLink>
        }
        else
        {
            <NavLink Match=NavLinkMatch.All href="/">⌂</NavLink>
        }
        @HomeButtonExtraContent
    </hgroup>
    <nav>
        @ChildContent
        @NavContent
    </nav>
    @if (NoAuthorization != true)
    {
        <AuthorizeView>
            <Authorized>
                <UserAccount PageName="@PageName" />
            </Authorized>
        </AuthorizeView>
    }
</header>
@if (NoAuthorization != true && NoUserLogin != true)
{
    <UserLogin />
}

@code {
    [Parameter]
    public bool? NoAuthorization { get; set; }
    [Parameter]
    public bool? NoUserLogin { get; set; }
    [Parameter]
    public string? NavClass { get; set; } = null;
    [Parameter]
    public string PageName { get; set; } = "";
    [Parameter]
    public RenderFragment? HomeButtonContent { get; set; }
    [Parameter]
    public RenderFragment? HomeButtonExtraContent { get; set; }
    [Obsolete]
    [Parameter]
    public RenderFragment? NavContent { get; set; }
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}