#user-account-menu {
    position: absolute;
    --height: max(env(titlebar-area-height, 2rem), 2rem);
    --half-height: calc(var(--height) / 2);
    width: var(--height);
    right: calc(100% - env(titlebar-area-width, 100%) - env(titlebar-area-left, 0%));
    transition: all 0.33s linear;
}

    #user-account-menu > button {
        display: block;
        left: auto;
        right: 0;
    }

    #user-account-menu * {
        app-region: no-drag;
    }

[popover] {
    display: none;
}

[popover]:popover-open {
    display: grid;
}

button {
    min-height: 0 !important;
    font-size: var(--half-height);
    height: var(--height);
    line-height: 1;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
    transition: all 0.33s linear;
}

img {
    height: var(--height);
    width: var(--height);
    object-fit: cover;
}


menu {
    left: auto;
    right: calc(100% - env(titlebar-area-width, 100%) - env(titlebar-area-left, 0%));
    background: transparent;
    filter: drop-shadow(0 0 0.25rem black) drop-shadow(0 0 0.5rem black) drop-shadow(0 0 1rem black) drop-shadow(0 0 2rem black);
    opacity: 0;
    transition: all 0.33s linear, display 0.33s allow-discrete;
}

    menu:popover-open {
        @starting-style {
            opacity: 0;
        }

        opacity: 1;
    }

li {
    background-color: var(--background-color-80);
    height: var(--height);
    font-size: var(--half-height);
    min-height: 0;
    display: grid;
    gap: 1rem;
    place-content: stretch;
    place-items: stretch;
    grid-auto-flow: column;
    overflow-x: hidden;
}

li * {
    display: grid;
    place-items: stretch;
    place-self: stretch;
    place-content: stretch;
    text-align: center;
}

    li:first-of-type {
        margin-top: var(--height);
        padding-right: var(--half-height);
    }

input {
    --button-color: var(--danger-color);
}
